{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="mx-auto" style="padding:4vh;font-size: 20px;max-width:1330px;border: 1px solid lightgray;border-radius: 5px;">
        <div>
            <h1>{{ page.title }}</h1><br>

            {% for item in page.gallery_images.all %}
                <div style="margin: 10px">
                    {% image item.image fill-720x360 as imgpageview %}
                    <img style="max-width: 70vw;" src="{{ imgpageview.url }}" alt="Зображення не знайдено!">
                    <p style="color:gray;">{{ item.caption }}</p>
                </div>
            {% endfor %}
            
            <div style="max-width:70vw;">
                {% include_block page.bodystream %}
            </div>

            <p class="meta">{{ page.date }}</p>
        </div>

        <br>
        <p style="font-size: 20px;"><a href="{{ page.get_parent.url }}" class="btn btn-primary">Повернутися назад</a></p>
        <br>
    </div>

{% endblock %}
